<footer>

  <p class="copyright">&copy; Copyright Game Mania - 2022</p>

  <div id="servicos-menu" class="container rodape">
      <div class="links-footer">
          <div>
              <ul>
                  <li><a href="#">Suporte</a></li>
                  <li><a href="#">Política de privacidade</a></li>
                  <li><a href="#">Central de Ajuda</a></li>
                  <li><a href="#">Contato</a></li>
                  <li><a href="#">Termos de serviço</a></li>
                  <li><a href="#">Sobre a empresa</a></li>
              </ul>
          </div>
          <div>
              <ul>
                  <li><a href="#">Termos de serviço e Contrato do usuário</a></li>
                  <li><a href="#">Política de cancelamento</a></li>
                  <li><a href="#">Classificação</a></li>
                  <li><a href="#">Desenvolvedores</a></li>
                  <li><a href="#">Mapa do site</a></li>
              </ul>
          </div>
      </div>
      <img class="logo-rodape" src="assets/img/logo  game mania header.svg" alt="Logo E-Players">
      <div class="sociais">
          <p>Cadastre-se e receba novidades, notícias e promoções!</p>

          <form action="">
              <input id="campo-email" type="email" placeholder="E-mail" required>
              <button onclick="cadastrarNewsletter()">Cadastrar</button>
          </form>

      </div>
  </div>

  </footer>
