<body>


  <div class="login">
      <div class="campo-email">
          <label>E-mail :</label>
          <input type="email" placeholder="Ex: email@email.com">
      </div>
      <div class="campo-senha">
          <label>Senha :</label>
          <input type="password" placeholder="Digite sua senha">
      </div>

      <button class="botao-enviar">Enviar</button>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="bootstrap-dist/bootstrap-5.2.1-dist/js/bootstrap.js"></script>

</body>

