<body>

  <form (ngSubmit)="receberDados()">

    <div class="login">

        <div class="campo-email">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Ex: email@email.com" [(ngModel)]="userModel.email">
        </div>
        <div class="campo-senha">
            <label for="senha">Senha</label>
            <input type="password" name="password" id="senha" placeholder="Digite sua senha" [(ngModel)]="userModel.password">
        </div>

        <input class="botao-enviar" type="submit" value="Fazer Login">

        <p id="mensagem" *ngIf=" mensagem != '' ">{{mensagem}}</p>

    </div>

  </form>


</body>

