<body>

<header>

  <img src="assets\img\logo  game mania header.svg" alt="Logo Game Mania">

<div class="caixa">
  <nav>
      <ul>
          <li>
              <a href="index.html">home</a>
          </li>
          <li>
              <a routerLink="/login">login</a>
          </li>
          <li>
              <a routerLink="/contato">contato</a>
          </li>
          <li>
              <a href="#servicos-menu">serviços</a>
          </li>
          <li>
              <a href="#console-menu">consoles</a>
          </li>
          <li>
              <a href="#jogos-menu">jogos</a>
          </li>
      </ul>
  </nav>
</div>

<img class="logo2" src="assets/img/logo-header-lado direito.gif" alt="logo game mania 2">


</header>

</body>

